@import url(reset.css);
@import url(components/content.css);
@import url(components/footer.css);
@import url(components/navbar.css);
@import url(components/sidebar.css);
@import url(components/Popup.css);
@import url(components/input.css);

:root {
    --page-background-color: #ececec;
    --navbar-background-color: #ffffff;
    --sidebar-background-color: #7bac3b;
    --sidebar-active-background-color: #5e8c2a;

    --text-white: #ffffff;
}

body {
    background-color: var(--page-background-color);
}

.content {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 68px 1fr 22px;
}
table{
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px grey;
    tbody{
        td{
            border-top: 1px solid #a3a3a3;
            padding: 5px;
            text-align: center;
        }
    }
}  
.btn-field{
    right: 0;
}
.button {
    background-color: #2779B8; /* Azul escuro */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 13px;
    font-family: "ABeeZee", serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #0056b3; /* Azul ainda mais escuro */
}
.button:active {
    background-color: #004494; /* Azul ainda mais escuro quando clicado */
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
        grid-template-rows: 48px 1fr 16px;
    }
}