@import url(external.css);
@import url(reset.css);
@import url(components/button.css);
@import url(components/content-adm.css);
@import url(components/footer.css);
@import url(components/form.css);
@import url(components/navbar-site.css);
@import url(components/navbar.css);
@import url(components/sidebar.css);
@import url(components/table.css);

/* variáveis para reúso no projeto */
:root {
    --color-primary: #7bac3b;
    --color-primary-darken: #5e8c2a;
    --color-secondary: #7b809a;
    --color-white: #fff;
    --color-danger: #dc3545;

    --page-background-color: #f0f2f5;

    --navbar-background-color: var(--color-white);

    --text-primary: #344767;
    --text-secondary: #7b809a;
    --text-white: var(--color-white);

    --border-rounded: 8px;

    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;
}


/* configurações gerais */
body {
    font-family: "Work Sans", serif;
    font-size: 18px;
    color: var(--text-secondary);
}

a {
    color: unset;
    text-decoration: none;
}

/* configuração do layout na área administrativa */
.container-adm {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 68px 1fr 22px;
    background-color: var(--page-background-color);
}

@media (max-width: 768px) {
    .container-adm {
        grid-template-columns: 1fr;
        grid-template-rows: 48px 1fr 16px;
    }
}


/* container usado para montar as paginas internas */
.container {
    background-color: var(--text-white);
    border-radius: var(--border-rounded);
    padding: 1.5rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
    padding-bottom: 1.5rem;
}