.navbar {
    height: 68px;
    width: calc(100vw - 200px);
    position: fixed;
    right: 0;
    background-color: aquamarine;
    
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        img {
            height: 48px;
        }
    }
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: purple;

    button {
        display: none;
    }
    
    nav {
        img {
            width: 100%;
        }
    }
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 22px;
    width: calc(100vw - 200px);
    background-color: yellowgreen;
}

.content {
    position: absolute;
    right: 0;
    top: 68px;
    width: calc(100vw - 200px);
    height: calc(100vh - 68px - 22px);
    overflow: auto;

    background-color: blanchedalmond;
}

p {
    margin: 30px 0;
}

@media (max-width: 600px) {
    .navbar {
        width: 100vw;
        height: 48px;
    }

    .sidebar {
        visibility: hidden;
        
        button {
            display: block;
            visibility: visible;
            position: fixed;
            top: 10px;
            left: 10px;
        }
    }

    .content {
        width: 100vw;
        height: calc(100vh - 48px - 16px);
        top: 48px;
    }

    .footer {
        height: 16px;
        width: 100vw;
    }
}

/* Estilos de grid */

.body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 68px 1fr 22px;
}

.navbar-grid {
    height: 68px;
    background-color: blueviolet;
    grid-column: 2;
    grid-row: 1;
}
nav .content-nav{
    display: flex;
    justify-content: center;
}

.sidebar-grid {
    height: 100vh;
    background-color: rgb(43, 226, 223);
    grid-column: 1;
    grid-row: 1 / 4;
}

.content-grid {
    height: calc(100vh - 68px - 22px);
    background-color: rgb(159, 226, 43);
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}

.footer-grid {
    height: 22px;
    background-color: rgb(226, 43, 86);
    grid-column: 2;
    grid-row: 3;
}

@media (max-width: 600px) {
    .body {
        grid-template-columns: 1fr;
        grid-template-rows: 48px 1fr 16px;
    }

    .navbar-grid {
        height: 48px;
        grid-column: 1;
    }

    .sidebar-grid {
        position: fixed;
        top: 0;
        visibility: hidden;
    }

    .content-grid {
        height: calc(100vh - 48px - 16px);
        grid-column: 1;
    }

    .footer-grid {
        height: 16px;
        grid-column: 1;
    }
}