.btn-icon {
    padding: .25rem;
    border-radius: 50%;
    transition: box-shadow .4s;

    &:hover {
        cursor: pointer;
        display: block;

        box-shadow:
            0 3px 3px 0 rgba(52, 71, 103, .15),
            0 3px 1px -2px rgba(52, 71, 103, .2),
            0 1px 5px 0 rgba(52, 71, 103, .15);
    }
}

.btn {
    border: none;
    background-color: unset;

    padding: .75rem;
    border-radius: var(--border-rounded);
    color: var(--text-primary);

    &:hover {
        cursor: pointer;
        box-shadow:
            0 3px 3px 0 rgba(52, 71, 103, .15),
            0 3px 1px -2px rgba(52, 71, 103, .2),
            0 1px 5px 0 rgba(52, 71, 103, .15);
    }
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--text-white);

    &:hover {
        box-shadow:
            0 4px 8px rgba(52, 71, 103, .2),
            0 2px 4px rgba(52, 71, 103, .2),
            0 6px 10px rgba(52, 71, 103, .2); 
    }
}