.footer {
    /* posicionamento na grid */
    height: 22px;
    grid-column: 2;
    grid-row: 3;

    font-size: .75rem;
    padding: .25rem;
    z-index: 10;
    box-shadow: 
        3px 0 3px 0 rgba(52, 71, 103, .15), 
        3px 0 1px -2px rgba(52, 71, 103, .2)
    ;
    
    span {
        display: block;
        height: 100%;
        text-align: right;
    }
}

@media (max-width: 768px) {
    .footer {
        /* posicionamento na grid */
        height: 16px;
        grid-column: 1;
    }
}