.sidebar {
    /* posicionamento na grid */
    height: 100vh;
    grid-column: 1;
    grid-row: 1 / 4;

    background-color: var(--color-primary);
    z-index: 10;
    /* sombreamento na lateral direita */
    box-shadow: 
        3px 0 3px 0 rgba(52, 71, 103, .15), 
        3px 0 1px -2px rgba(52, 71, 103, .2)
    ;

    /* esconde o na versão desktop */
    .mobile-menu {
        visibility: hidden;
    }

    .nav {
        .nav-logo {
            width: 100%;
            height: 68px;
            object-fit: contain;
            margin: 20px 0;
        }

        .nav-items {
            .nav-item {
                .nav-link {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: .25rem;
                    padding: 1rem .5rem;

                    text-decoration: none;
                    color: var(--text-white);

                    &.active {
                        background-color: var(--color-primary-darken);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        /* posicionamento para mobile */
        position: relative;
        top: 0;
        height: 100%;

        /* espaçamento p/ botão menu */
        padding-top: 48px;

        /* inicia escondido na versão mobile */
        visibility: hidden;
        margin-left: -200px;
        width: 200px;

        /* suaviza a transição */
        transition: .4s;

        /* estilos para sidebar aberta */
        &.opened {
            visibility: visible;
            margin-left: 0;

            .mobile-menu {
                /* exibe/esconde os ícones conforme situação da sidebar */
                .open {
                    display: none;
                }

                .close {
                    display: block;
                    color: var(--text-white);
                }
            }
        }

        .mobile-menu {
            /* posicionamento na versão mobile */
            position: fixed;
            top: calc((48px - 2rem) / 2);
            left: .25rem;

            display: flex;
            justify-content: center;
            align-items: center;
            visibility: visible;

            /* exibe/esconde os ícones conforme situação da sidebar */
            .open {
                display: block;
                color: var(--text-secondary);
            }

            .close {
                display: none;
            }
        }
    }
}